* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Loading*/
.loading {
  margin: 0 auto;
  margin-top: 10rem;
}
.flex-gallery {
  margin: 0 auto;
  max-width: 90rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 4rem;
}
.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
}
.grid-gallery-portrait {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
}
.img {
  width: 100%;
  object-fit: cover;
}
.img-landscape {
  height: 14rem;
}
.img-portrait {
  height: 20rem;
}
.img-squarish {
  height: 20rem;
}
.page-numbers-div {
  margin-top: 1rem;
  display: flex;
  gap: 0.4rem;
}
.number-page {
  font-size: 1.4rem;
  padding: 0.4rem 0.6rem;
  background: none;
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
}
.number-page:hover {
  background-color: #f5f5f5;
}
.clicked-button {
  background-color: #d6d6d6;
}
/*Input*/
.input-div {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
}
.btn {
  font-size: 1.3rem;
  background-color: transparent;
  padding: 0.4rem;
  border: 1px solid #333;
  cursor: pointer;
}
.filters {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.filters-btns {
  margin-top: 0.4rem;
  display: flex;
  gap: 0.5rem;
}
.filters-btn {
  font-size: 1rem;
  background-color: transparent;
  padding: 0.4rem;
  border: 1px solid #868e96;
  cursor: pointer;
}
